# dependencies
node_modules

# sst
.sst

# generated package output
packages/*/.astro
packages/*/.wrangler
packages/*/dist

# tmp files
.#*

# env 
.env*.local
.env

# opennext
.open-next

# misc
.DS_Store
